<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Trich Logo</a>
    <app-collapse></app-collapse>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav text-right">
          <a class="nav-item nav-link active" pageScroll href="#cover">Home<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" pageScroll href="#about">About</a>
          <a class="nav-item nav-link" pageScroll href="#portfolio">Portfolio</a>
          <a class="nav-item nav-link" pageScroll href="#contact">Contact</a>
        </div>
      </div>
  <div class="nav social-icons justify-content-end">
    <a class="nav-link" href="https://www.kaggle.com/kabure/kernels" target="_blank" title="Kaggle">
      <i class="fab fa-kaggle"></i>
    </a>
    <a class="nav-link" href="https://github.com/kaburelabs" target="_blank" title="GitHub">
      <i class="fab fa-github"></i>
    </a>
    <a class="nav-link" href="https://www.linkedin.com/in/leonardo-ferreira-70212028/" target="_blank" title="Linkedin">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
</nav>