<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Trich Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav text-right">
      <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Portfolio</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="nav social-icons justify-content-end">
    <a class="nav-link" href="https://www.kaggle.com/kabure/kernels" target="_blank">
      <i class="fab fa-kaggle"></i>
    </a>
    <a class="nav-link" href="https://github.com/kaburelabs" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a class="nav-link" href="https://www.linkedin.com/in/leonardo-ferreira-70212028/" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
</nav>