@import '../../_variables';

.navbar-toggler {
    display: none;
}

.menu {

    &__logo {
        margin-top: 20px;

        &__img {
            padding: 10px 40px;
            width: 350px;
        }
    }
}

.social-icons {
    a {
        color: $gray;
        font-size: 18px;
        padding: 10px;

        &:hover {
            color: $orange;
        }
    }
    
}