@import '../../_variables';

.navbar-toggler {
    display: none;
}

.social-icons {
    a {
        color: white;
        font-size: 18px;
        padding: 10px;

        &:hover {
            color: $orange;
        }
    }
}