<div class="container-fluid contact text-center">
    <h2>Contact</h2>
    <div class="row">
        <div class="col-md-6 contact__form">
            <app-form></app-form>
        </div>
        <div class="col-md-5 contact__txt">
            <h4>Lorem ipsum placerat</h4>
            <p>
                Lorem ipsum placerat curabitur massa vivamus ante auctor maecenas nostra ligula, amet sapien ac dapibus posuere diam scelerisque
                feugiat morbi. duis congue augue aliquam non donec quis eros ligula nibh, placerat id pretium duis conubia
                mollis enim viverra luctus, arcu curabitur metus praesent molestie quisque dictum orci. nullam lobortis feugiat
                tincidunt class donec sollicitudin risus malesuada, himenaeos interdum auctor vulputate aenean vel ut, augue
                lacinia platea ipsum habitasse interdum tincidunt. class mauris quis justo semper quisque adipiscing mollis
                eu viverra torquent integer rutrum ligula, lobortis suspendisse morbi justo praesent eget torquent tincidunt
                tortor bibendum ante quisque.
            </p>
        </div>
    </div>
</div>