<div class="text-center">

  <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
          <span class="navbar-toggler-icon"></span>
  </button>
  
  <div id="collapseBasic" *ngIf="!isCollapsed" class="card card-block card-header">
    <div class="navbar-nav text-center">
      <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Portfolio</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
</div>

<!-- <button class="navbar-toggler" (click)="showMenu()" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
