@import '../../variables';

.portfolio {
    height: auto;
    padding: 50px;
    background-color: $orange;

    h2 {
        color: white;
        text-transform: uppercase;
        font-weight: 700;
    }

    .card-deck {
        margin-top: 30px;
    }

    .about__txt {
        text-align: justify;
        margin-top: 30px;
        font-size: 14px;
    }
}

@media (min-width: 998px) {

    .about {
    
        h2 {
            font-size: 40px;
        }
    
        .about__txt {
            text-align: left;
            margin-left: 70px;
            margin-top: 30px;
            font-size: 16px;
        }
    }
}