.cover {
    background-size: cover;
    background-image: url('/assets/images/neural-network.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;

    video {
        width: 100%;
    }

    .cover-box {
        position: absolute;
        width: auto;
        text-align: center;
        margin: 0;
        
        .cover-box__txt {  
            color: white;
            line-height: 12px;
            
            .data {
                font-size: 27px;
                font-weight: bold;
                text-transform: uppercase;
            }

            .ai {
                font-size: 23px;
            }

            .ml {
                font-size: 15px;
            }
        }
    }
}

@media (min-width: 768px) {

    .cover {

        .cover-box {
            
            .cover-box__txt {
                line-height: 60px;
                
                .data {
                    font-size: 74px;
                }
    
                .ai {
                    font-size: 57px;
                }
    
                .ml {
                    font-size: 38px;
                }
            }
        }
    }
}


@media (min-width: 998px) {

    .cover {

        .cover-box {
            
            .cover-box__txt {
                line-height: 60px;
                
                // .data {
                //     font-size: 67px;
                // }
    
                // .ai {
                //     font-size: 57px;
                // }
    
                // .ml {
                //     font-size: 38px;
                // }
            }
        }
    }
}